# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build output
.next
out
build
dist

# Database
*.db
*.db-journal

# Git
.git
.gitignore

# Environment files
.env*.local
.env

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
coverage
.turbo
